@model BlogPost
@{
ViewData["Title"] = "PostDetail";
}
<br /><br /><br /><br />
<h1 class="text-center">Post Detail</h1>
<hr  class="container"/>
<div class="detail container">
    <div class="image">
        <img src="@Model.ImageUrl" alt="" style="width:20rem;"/>
    </div> <br />
    <div class="writeUp">
        <p><b>Title</b> : @Model.Title</p> 
        <p><b>Date</b> : @Model.Date</p>
        <p><b>Content</b> : @Model.Content</p>   
        <p class="text-danger"><b>@Model.Comments.Count()</b> comments</p>
    </div>
</div>
<br /><br />
<div class="actionBtn container" style="display:flex; justify-content:space-between">
    <a class="btn btn-secondary" asp-controller="BlogPost" asp-action="Index"><i class="bi bi-arrow-left">Back To List</i> </a> 
    <a class="btn btn-secondary" asp-controller="BlogPost" asp-action="EditPost" asp-route-id="@Model.Id"><i class="bi bi-pencil-square">Edit Post</i></a> 
</div>

